<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete student</title>
</head>
<body>
<h1>Delete student</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/students">Student list</a>
</p>
<form th:action="@{/delete-customer}" th:object="${student}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Full name:</td>
            <td th:text="${student.fullname}"></td>
        </tr>
        <tr>
            <td>Birth date:</td>
            <td th:text="${student.birthdate}"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Avatar:</td>
            <td><input type="text" th:field="*{avatar}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete student"></td>
        </tr>
    </table>
</form>
</body>
</html>